.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  gap: 15px;
  overflow-y: auto;

  h1 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 500;
  }
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.createNewRoutineBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ff5526;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 85px 0;
}

.createNewRoutineBtn:active {
  transform: scale(0.97);
}
