.editExersisePage {
  display: flex;
  flex-direction: column;
  padding: 12px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.title {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.headerBtn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  transition: transform 0.08s ease;
}

.headerBtn:active {
  transform: scale(0.97);
}

.saveBtn {
  cursor: pointer;
  text-decoration: none;
  border: 1.5px solid #ff5526;
  border-radius: 18px;
  padding: 6px 18px;
  color: #ff5526;
  font-size: 12px;
  font-weight: 500;
  background: none;
  margin: 0;
  transition: transform 0.08s ease;
}

.saveBtn:active {
  transform: scale(0.97);
}
