.title {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.headerBtn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  transition: transform 0.08s ease;
}

.headerBtn:active {
  transform: scale(0.97);
}

.modalText {
  color: black;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 15px 0;
}
.discardBtn {
  width: 100%;
}

.cancelBtn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 18px;
  border: none;
  padding: 8px 18px;
  width: 85%;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  background: none;
  margin: 10px 0 0 0;
  transition: transform 0.08s ease;
}
.cancelBtn:active {
  transform: scale(0.97);
}

.ok {
  width: 100%;
}
