.month {
  scroll-margin-top: 85px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  border-bottom: 0.2px solid #c7c7c76a;

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
  }
  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-content: space-between;
    gap: 3px 20px;
  }

  .date {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transition: transform 0.08s ease;
  }

  .date:active {
    transform: scale(0.97);
  }

  .numberWrapper {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .calendarSelector {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ff5526;
    z-index: 2;
    margin: 0;
  }

  .number {
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #333333;
    z-index: 10;
    margin: 0;
  }

  .todayLabel {
    font-size: 9px;
    font-weight: 600;
    color: #000000;
    height: 10px;
    margin-bottom: 6px;
    line-height: 10px;
  }
  .number.selected {
    color: white;
    font-weight: 500;
  }

  .workoutDayMarker {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #d93e17;
  }
  .today {
    font-size: 9px;
    color: black;
    font-weight: 700;
  }
  @media (min-width: 768px) {
    .currentDate {
      font-weight: 600;
      background: #ffddd4;
      border: 1px solid #ff5526;
      border-radius: 50%;
      padding: 5px 8px;
    }

    .date {
      cursor: default;
      pointer-events: none;
    }

    .date:active {
      transform: none;
    }

    .number {
      cursor: default;
      width: 20px;
      height: 20px;
      font-size: 16px;
    }

    .number:active {
      transform: none;
    }
    .numberWrapper {
      width: 20px;
      height: 20px;
    }
  }
}
.month:last-child {
  border: 0;
}

/* @media (min-width: 768px) {
  .currentDate {
    font-weight: 600;
    background: #ffddd4;
    border: 1px solid #ff5526;
    border-radius: 50%;
    padding: 2px 10px;
  }

  .date {
    cursor: default;
    pointer-events: none;
  }

  .date:active {
    transform: none;
  }

  .number {
    cursor: default;
    width: 24px;
    height: 24px;
    font-size: 14px;
  }

  .number:active {
    transform: none;
  }
  .numberWrapper {
    width: 24px;
    height: 24px;
  }
} */
