.sideBarLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  flex-basis: 15%;
  padding: 25px;
}
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  h1 {
    margin: 0;
    font-size: 25px;
    color: #323232;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 500;
  color: #818181;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.97);
}
.btnActive {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  background: #ff5526;
  color: white;
}
.btnLogout {
  margin-top: auto;
  margin-bottom: 40px;
}
