html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  height: 100%;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  background: lightcoral;
  h1 {
    font-weight: 600;
    font-size: 18px;
    flex-grow: 1;
  }
}

main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.date-bar {
  padding: 0 10px;
  background: rgb(5, 5, 5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: none;
    border: none;
    svg {
      width: 28px;
      height: 28px;
    }
  }
}

.navigation-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  fill: black;
  color: black;
  text-decoration: none;
}
.navigation-btn.active {
  fill: blue;
  color: blue;
}

.start-workout-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.exercise {
  padding: 6px 12px;
  cursor: pointer;
  border-top: 1px solid #aaa;
}

.exercise:hover {
  opacity: 0.5;
}

.exerciseInfo {
  display: flex;
  flex-direction: column;
  .exercise-muscle {
    color: #837f7f;
  }
}
.exerciseInfo.selected {
  margin-left: 5px;
  padding-left: 6px;
  border-left: 5px solid rgb(104, 162, 254);
}
.add-exercise-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px auto;
  color: black;
  text-decoration: none;
  width: 80%;
  background: rgb(104, 162, 254);
  cursor: pointer;
}
.all-exercise-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}
.exercise-card {
  border: 1px solid black;
  padding: 0px 10px;
}

.add-set-btn {
  display: flex;
  gap: 5px;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px auto;
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 80%;
  background: rgb(208, 213, 223);
  cursor: pointer;
}

.set-forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.set-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  border: 1px dashed black;
  input {
    max-width: 40%;
  }
}

.workout-day {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logged-exercise-card {
  margin-top: 0;
  background: white;
  .exercise-name {
    margin: 0;
    padding: 6px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid blue;
  }
  table {
    margin: 6px;
    text-align: left;
    width: 50%;
    text-align: center;
    thead {
      font-size: 14px;
      color: #767474;
    }
  }
}

.navigation-bar {
  display: flex;
  justify-content: space-between;

  button {
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    background: rgb(104, 162, 254);
    cursor: pointer;
  }
}

/* .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
