body,
#root {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  background: lightcoral;
  h1 {
    font-weight: 600;
    font-size: 18px;
    flex-grow: 1;
  }
}
main {
  flex-grow: 1;
  padding: 0px 18px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background: lightblue;
  padding: 6px 0px;
}

.calendar-btn {
  fill: black;
}

.navigation-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  fill: black;
  color: black;
  text-decoration: none;
}
.navigation-btn.active {
  fill: blue;
  color: blue;
}

.start-workout-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.exercise {
  border-top: 1px solid #aaa;
  padding: 6px 12px;
  .exercise-muscle {
    color: #837f7f;
  }
}
