html,
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-slide::-webkit-scrollbar {
  display: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  p {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
  }
  svg {
    margin: 0;
  }
}
.header-btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.date-bar {
  position: sticky;
  top: 53px;
  background: rgb(255, 255, 255);
  z-index: 9;
  padding-bottom: 15px;
}

:root {
  --move-x: 0px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  .dayOfWeek {
    font-size: 9px;
    font-weight: 400;
    color: #494949;
  }
  .today {
    color: black;
    font-weight: 700;
  }
  .number {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}

.selector {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: rgba(187, 187, 192, 0.407);
  top: 12px;
  left: 0;
  transform: translateX(var(--move-x));
  transition: transform 0.4s ease;
  pointer-events: none;
  z-index: 0;
}

.all-exercise-log-cards {
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.all-exercise-log-cards::-webkit-scrollbar {
  display: none;
}

.exercise-card {
  border: 1px solid black;
  padding: 0px 10px;
}

.modal-window-mode::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal-window {
  position: absolute;
  z-index: 3;
  background-color: white;
  border-radius: 10px;
  top: 35%;
  left: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 12px 14px;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}
.ok-btn {
  font-weight: 500;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  background-color: rgb(104, 162, 254);
  cursor: pointer;
}

.discard-btn {
  background-color: #a3a3a346;
  border: none;
  color: red;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.cancel-btn {
  background-color: #a3a3a346;
  border: none;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.navigation-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  fill: black;
  color: black;
  text-decoration: none;
}
.navigation-btn.active {
  fill: blue;
  color: blue;
}

.all-exercises-layout {
  padding: 10px;
  .cancel-btn {
    text-decoration: none;
    color: rgb(38, 103, 209);
    font-size: 16px;
    font-weight: 500;
  }
}

.exercise {
  padding: 6px 8px;
  cursor: pointer;
  border-bottom: 1px solid #aaaaaa76;
}
.exercise:active {
  opacity: 0.5;
}
@media (hover: hover) {
  .exercise:hover {
    opacity: 0.5;
  }
}

.exerciseInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 6px 0px;
  .muscle-group {
    color: #959494;
  }
}
.exerciseInfo.selected {
  padding-left: 10px;
  position: relative;
}

.exerciseInfo.selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: rgb(104, 162, 254);
  border-radius: 4px;
}

.add-exercise-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px auto;
  color: black;
  text-decoration: none;
  width: 80%;
  background: rgb(104, 162, 254);
  cursor: pointer;
}
.add-exercise-btn:active {
  opacity: 0.5;
}

.add-set-btn {
  display: flex;
  gap: 5px;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px auto;
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 80%;
  background: rgb(208, 213, 223);
  cursor: pointer;
}
.add-set-btn:active {
  opacity: 0.5;
}
.set-forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.set-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  border: 1px dashed black;
  input {
    max-width: 40%;
  }
}

.day-content {
  height: 100%;
}

.no-workout-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.no-workout-day p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #707070;
}

.workout-day {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.start-workout-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #707070;
  svg {
    fill: rgb(104, 162, 254);
  }
}
.start-workout-btn:active {
  opacity: 0.5;
}

.logged-exercise-card {
  margin-top: 0;
  background: white;
  .exercise-name {
    margin: 0;
    padding: 6px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid blue;
  }
  table {
    margin: 6px;
    text-align: left;
    width: 70%;
    text-align: center;
    thead {
      font-size: 14px;
      color: #767474;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
