.mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  gap: 15px;
  overflow-y: auto;

  h1 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 500;
  }
}

.mainContent::-webkit-scrollbar {
  display: none;
}
